# Application Configuration

PORT=3000
NODE_ENV=development

# Database configuration
POSTGRES_USER=<your_database_user>
POSTGRES_PASSWORD=<your_database_password>
POSTGRES_DB=<your_database_name>
POSTGRES_HOST=<your_database_host>
POSTGRES_PORT=<your_database_port>
DATABASE_URL=postgres://<your_database_user>:<your_database_password>@<your_database_host>:<your_database_port>/<your_database_name>